@font-face {
    font-family: 'extra';
    src: url(Almarai-ExtraBold.ttf);
  }
   
@font-face {
    font-family: 'light';
    src: url(Almarai-Light.ttf);
  }
 
   
@font-face {
    font-family: 'bold';
    src: url(Almarai-Bold.ttf);
  }
 
 
 
@font-face {
    font-family: 'regular';
    src: url(Almarai-Regular.ttf);
  }
 
 
 
  
  @font-face {
    font-family: 'cairo1';
    src: url(cairo/Cairo-Black.ttf);
  }
   
@font-face {
    font-family: 'cairo2';
    src: url(cairo/Cairo-Light.ttf);
  }
 
@font-face {
    font-family: 'cairo';
    src: url(cairo/Cairo-Medium.ttf);
  }
 
 
@font-face {
    font-family: 'cairo3';
    src: url(cairo/Cairo-ExtraBold.ttf);
  }
 
 
@font-face {
    font-family: 'cairo4';
    src: url(cairo/Cairo-Medium.ttf);
  }
 